
.Searchbar {
    position: relative;
    margin-bottom: 1%;
    margin-top: 0;
    width: 50%;
    height: 2em;
    border-radius: 10px;
    background-color: #080920;
    border: 0;
    color: white;
    padding: 0.5em 2em;
    box-shadow: 2px 3px 20px 2px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 1em;
}

input:focus::placeholder {
    color: transparent;
  }

  @media (max-width: 500px) {
      .Searchbar {
          width: 70%
      }
  }